@import "tailwindcss";
@import "tailwindcss-animated";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #e24329;
  --color-secondary: #ff7415;
}
html {
  scroll-behavior: smooth;
}

/* Opcional: Personalizar la velocidad del scroll */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
@theme {
  --font-sans: "Montserrat", "sans-serif";
}
